@charset "utf-8";
@font-face {
    src: url(fonts/PFDinTextCompPro-Regular.eot);
    src: local(PFDinTextCompPro-Regular), url(fonts/PFDinTextCompPro-Regular.ttf);
    font-family: PFDinTextCompPro-Regular
}

@font-face {
    src: url(fonts/PFDinTextCompPro-Medium.eot);
    src: local(PFDinTextCompPro-Medium), url(fonts/PFDinTextCompPro-Medium.ttf);
    font-family: PFDinTextCompPro-Medium
}

@font-face {
    src: url(fonts/PFDinTextPro-Medium.eot);
    src: local(PFDinTextPro-Medium), url(fonts/PFDinTextPro-Medium.ttf);
    font-family: PFDinTextPro-Medium
}

@font-face {
    src: url(fonts/PFDinTextCondPro-Regular.eot);
    src: local(PFDinTextCondPro-Regular), url(fonts/PFDinTextCondPro-Regular.ttf);
    font-family: PFDinTextCondPro-Regular
}

html {
    background: url(images/bg_textured.png) no-repeat center center fixed;
    background-size: cover;
    min-width: 1340px
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    border-color: transparent
}

#container_full {
    width: 1340px;
    margin: 0 auto
}

header {
    background-image: url(images/bg.png);
    background-size: cover;
    display: block;
    min-width: 100%
}

h1 {
    font-family: PFDinTextCondPro-Regular;
    font-size: 46pt;
    margin-bottom: -10px;
    font-weight: normal;
    text-shadow: 0 0 1px #aaa
}

h2 {
    font-family: Arial;
    font-size: 16pt;
    font-weight: normal;
    text-shadow: 0 0 1px #aaa;
    color: #00466e
}

h3 {
    font-family: Arial;
    margin-bottom: -1px;
    font-size: 12pt;
    font-weight: bold;
    text-shadow: 0 0 1px #aaa;
    color: #00466e
}

#head_left {
    margin: 0 auto;
    float: left;
    font-family: PFDinTextCompPro-Regular;
    font-size: 14pt;
    width: 430px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 30px
}

#head_center {
    margin-left: 500px;
    padding-bottom: 10px;
    padding-top: 30px;
    height: 91px;
    width: 315px;
    font-family: PFDinTextCompPro-Regular;
    font-size: 15pt;
    color: #004770
}

#cl_left {
    float: left;
    width: 1px
}

#head_right {
    font-family: Arial;
    font-size: 14pt;
    color: #00466e;
    margin-left: 790px;
    padding-right: -100px;
    width: 545px;
    height: 91px;
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left: 0
}

#search {
    background: url(images/search.png) no-repeat 315px 5px;
    font-family: Arial;
    width: 350px;
    height: 30px;
    font-size: 15pt;
    font-style: italic;
    color: #acacac
}

#standarts {
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 0;
    background-color: #fff;
    height: 500px;
    width: 290px
}

#left_standarts_up {
    margin-top: -530px;
    margin-left: 0;
    height: 200px;
    width: 300px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-top: 30px;
    font-family: PFDinTextCompPro-Medium;
    font-size: 21pt;
    color: #fff;
    font-weight: bolder;
    background: url(images/block_header_blue.png) no-repeat 50px 20px
}

#ISO {
    float: left;
    text-align: center;
    margin-left: 50px;
    width: 140px;
    margin-top: -157px;
    border-right: 2px solid #ccdae2;
    border-bottom: 2px solid #ccdae2
}

#BSI {
    text-align: center;
    margin-left: 190px;
    width: 150px;
    margin-top: -148px;
    border-bottom: 2px solid #ccdae2
}

#DIN {
    clear: left;
    float: left;
    text-align: center;
    margin-left: 50px;
    width: 140px;
    margin-top: -45px;
    border-right: 2px solid #ccdae2;
    border-bottom: 2px solid #ccdae2
}

#ASTM {
    height: 118px;
    text-align: center;
    margin-left: 190px;
    width: 150px;
    margin-top: -4px;
    border-bottom: 2px solid #ccdae2
}

#SAE {
    clear: left;
    float: left;
    text-align: center;
    margin-left: 50px;
    width: 140px;
    margin-top: 0;
    border-right: 2px solid #ccdae2
}

#ACME {
    height: 90px;
    text-align: center;
    margin-left: 190px;
    width: 150px;
    margin-top: 0
}

#API {
    clear: left;
    text-align: center;
    margin-left: 50px;
    width: 290px;
    margin-top: -4px;
    border-top: 2px solid #ccdae2
}

#left_standarts_down {
    height: 30px;
    margin-top: -25px;
    margin-left: 0;
    width: 300px;
    background: url(images/block_header_blue.png) no-repeat 50px 20px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-top: 30px;
    font-family: Arial;
    font-size: 13pt;
    color: #fff;
    font-weight: bolder
}

#left_banner_neftegaz_text_top {
    margin-top: 40px;
    text-align: right;
    font-family: PFDinTextPro-Medium;
    font-size: 21pt;
    width: 290px;
    margin-left: 50px;
    height: 1px
}

#left_banner_neftegaz_text_niz {
    padding-top: 145px;
    text-align: center;
    font-family: PFDinTextPro-Medium;
    color: #fff;
    font-size: 9.66pt;
    width: 290px;
    margin-top: -5px;
    margin-left: 50px;
    background: url(images/neftegas.png) no-repeat;
    height: 185px
}

#social {
    margin-top: -120px;
    margin-left: 85px
}

#col_left {
    float: left
}

#center {
    height: 1450px;
    width: 600px;
    background-color: #fff;
    margin-left: 55px;
    margin-top: 40px
}

#center_top_left {
    background: url(images/bg_center_uslugy.png) no-repeat;
    padding-top: 10px;
    margin-left: 55px;
    margin-top: -1450px;
    text-align: center;
    font-family: PFDinTextPro-Medium;
    font-size: 24pt;
    text-shadow: 0 0 1px #aaa;
    width: 300px;
    border-top: 2px solid #ff8400;
    float: left
}

#center_top_right {
    background-color: #e6e6e6;
    padding-top: 10px;
    margin-left: 355px;
    margin-top: -1450px;
    text-align: center;
    font-family: PFDinTextPro-Medium;
    font-size: 24pt;
    text-shadow: 0 0 1px #aaa;
    width: 300px;
    border-bottom: 2px solid #dbdbdb;
    border-left: 2px solid #dbdbdb
}

#col_cent {
    float: left
}

#center_content {
    font-family: PFDinTextCondPro-Regular;
    font-size: 27pt;
    margin-top: 30px;
    margin-left: 100px;
    text-shadow: 0 0 1px #aaa
}

#center_maker {
    margin-top: -150px;
    margin-left: 430px
}

#center_text {
    font-family: Arial;
    font-size: 12pt;
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: 100px;
    text-shadow: 0 0 1px #aaa
}

.list {
    border-top: 2px solid #dbdbdb;
    width: 510px;
    margin-top: 0;
    margin-left: 100px;
    font-size: 10pt;
    text-shadow: 0 0 1px #aaa;
    color: #242424;
    padding-bottom: 10px
}

#leftimg_1 {
    float: left;
    margin: 10px 10px 80px 0
}

#leftimg_2 {
    float: left;
    margin: 10px 10px 140px 0
}

#leftimg_3 {
    float: left;
    margin: 10px 10px 210px 0
}

#leftimg_4 {
    float: left;
    margin: 10px 10px 0 0
}

#leftimg_5 {
    float: left;
    margin: 10px 10px 2px 0
}

#leftimg_6 {
    float: left;
    margin: 10px 10px 20px 0
}

#list_bottom_1 {
    width: 510px;
    margin-top: -25px;
    margin-left: 100px;
    font-size: 10pt;
    text-shadow: 0 0 1px #aaa;
    color: #242424;
    padding-bottom: 20px
}

#list_bottom_2 {
    width: 510px;
    margin-top: -45px;
    margin-left: 100px;
    font-size: 10pt;
    text-shadow: 0 0 1px #aaa;
    color: #242424;
    padding-bottom: 20px;
    padding-top: 20px
}

#list_bottom_last {
    font-family: Arial;
    font-size: 13pt;
    color: #00466e;
    text-shadow: 0 0 1px #aaa;
    text-align: right;
    margin-right: 30px;
    font-weight: normal
}

#right {
    height: 460px;
    width: 220px;
    background-color: #fff;
    margin-left: 1085px;
    margin-top: 48px
}

#cart_top {
    font-family: PFDinTextCompPro-Medium;
    color: #fff;
    font-size: 22pt;
    background: url(images/cart_bg_top.png) no-repeat;
    padding-top: 3px;
    padding-left: 20px;
    height: 40px
}

#img_icon_1 {
    float: left;
    margin: 2px 15px 60px 20px
}

#img_icon_2 {
    float: left;
    margin: 20px 15px 55px 20px
}

#img_icon_3 {
    float: left;
    margin: 20px 15px 65px 20px
}

.icon_delete {
    margin-top: -90px;
    margin-left: 200px
}

#icon_delete_1 {
    margin-top: -110px;
    margin-left: 200px
}

#cart_1 {
    margin-top: -1px;
    font-size: 10pt;
    text-shadow: 0 0 1px #aaa;
    padding-bottom: 10px
}

#cart_2 {
    border-top: 2px solid #dbdbdb;
    margin-top: 80px;
    font-size: 10pt;
    text-shadow: 0 0 1px #aaa;
    padding-bottom: 10px
}

#cart_3 {
    border-top: 2px solid #dbdbdb;
    margin-top: 80px;
    font-size: 10pt;
    text-shadow: 0 0 1px #aaa;
    padding-bottom: 10px
}

#button {
    font-size: 13pt;
    color: #fff;
    font-family: Arial;
    margin-top: 100px;
    margin-left: 40px;
    padding-top: 4px;
    height: 40px;
    padding-left: 9px;
    background: url(images/button.png) no-repeat
}

#doc_order {
    margin-top: 30px;
    font-family: PFDinTextCompPro-Medium;
    color: #fff;
    font-size: 22pt;
    background: url(images/block_header_blue.png) no-repeat;
    padding-top: 3px;
    padding-left: 20px;
    height: 40px
}

#doc_order_bg {
    height: 400px;
    width: 220px;
    background-color: #fff;
    margin-left: 0;
    margin-top: 0
}

#input_1 {
    font-family: Arial;
    font-size: 11pt;
    font-weight: normal;
    text-shadow: 0 0 1px #aaa;
    color: #000;
    margin-left: 15px;
    margin-top: -390px
}

#input_2 {
    font-family: Arial;
    font-size: 11pt;
    font-weight: normal;
    text-shadow: 0 0 1px #aaa;
    color: #000;
    margin-left: 15px;
    margin-top: 10px
}

#input_3 {
    font-family: Arial;
    font-size: 11pt;
    font-weight: normal;
    text-shadow: 0 0 1px #aaa;
    color: #000;
    margin-left: 15px;
    margin-top: 10px
}

#input_4 {
    font-family: Arial;
    font-size: 11pt;
    font-weight: normal;
    text-shadow: 0 0 1px #aaa;
    color: #000;
    margin-left: 15px;
    margin-top: 10px
}

#input_5 {
    font-family: Arial;
    font-size: 11pt;
    font-weight: bold;
    text-shadow: 0 0 1px #aaa;
    color: #000;
    margin-left: 15px;
    margin-top: 10px
}

.input_doc {
    background-color: #f8f8f8;
    font-family: Arial;
    width: 190px;
    height: 30px;
    margin-top: 4px
}

#button_order {
    font-size: 13pt;
    color: #fff;
    font-family: Arial;
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 4px;
    height: 40px;
    padding-left: 20px;
    background: url(images/button_blue.png) no-repeat
}

footer {
    margin-left: 640px;
    margin-top: 70px;
    margin-bottom: 50px;
    display: block;
    font-size: 11pt;
    color: #676666;
    font-family: Arial
}