#workspace  div.aList{
	height: 100%;
	/*overflow: auto;*/
	-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
	-ms-box-sizing: border-box;
	padding-top: 15px;
}
div.title{
	color: #000;
}
#workspace  div.list{
	height: 100%;
	overflow: auto;
	-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
	-ms-box-sizing: border-box;
}
#workspace  div.aList{
	padding-top: 0px;
}
#workspace  div.hList{
	padding-top: 100px;
}
#workspace  div.aList .docList{
	margin-top: 0px;
}
 
.docList{
	display: none;
	width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
	-ms-box-sizing: border-box;
	height: 100%;
}



.partSize250 li.part, .partSize250 li.partLoading{
	height: 16750px;
	background:none;
}
.partSize200 li.part, .partSize200 li.partLoading{
	height: 13400px;
	background:none;
}

.partSize50 li.part, .partSize50 li.partLoading{
	height: 3350px;
	background:none;
}
.partSize100 li.part, .partSize100 li.partLoading{
	height: 6700px;
	background:none;
}
.partSize20 li.part, .partSize20 li.partLoading{
	height: 1340px;
	background:none;
}
ul.list {
	border:1px solid #DDDDDD;
	border-bottom: 0px;
	border-top: 0px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	list-style: none;
} 
ul.listRecords{
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
}

#container .iSearchList  li.visited, #container  .docList .list li.visited{
	color: #551A8B;
}
#container .iSearchList  li.visited, #container .docList .list li.visited{
	color: #551A8B !important;
}

#container .visited  span.title {
	color: #551A8B !important;
}
#uHistoryContent {
	-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
	-ms-box-sizing: border-box;
	height:100%;
	padding-top:80px;
}
#uHistoryContent .scroll {
    -webkit-overflow-scrolling: auto !important;
}
#uHistoryContent div.uHistoryContentHeader {
	margin-top:-80px;
}

.listRecords  li, .docList .list li {
	background: none;
	cursor: pointer;
	margin: 0 0px 0 0;
	padding: 10px 35px 10px 43px;
	border-bottom: 1px solid #DDDDDD;
	font-size: 85%;
	font-style: italic;
	color: #959597;
	min-height: 30px;
}
.listRecords  li{
	padding-right: 136px;
	position: relative;
}
.listRecords.foldersList li{
	padding-right: 20px;
}

.listRecords .title, .docList .list .title {
	color:#000000;
	font-style:normal;
}

.docList .list .title {
	color: black;
	font-style:normal;
}

.list.table {
	border-color: gray #DDDDDD -moz-use-text-color gray;
}

.list.table li {
	border-bottom:1px solid gray;
}

.list_header {
	background-color: Beige;
	border:1px solid gray;
	font-family: Verdana;
	font-weight: bold;
	padding: 0 0 0 43px;
}
.list_header td{
	font-size:12px;
}

.list_header table {
	border-collapse:collapse;
	text-align: justify;
	width: 100%;
	margin: -1px 0;
}

.list_header table td {
	border: 1px solid gray;
	padding: 15px 0 15px 0;
	text-align: center;
}

.li_tbl {
	border:1px solid;
	border-collapse: collapse;
	width: 100%;
	margin: -11px 0;
}

.li_tbl td {
    border-style: solid;
    border-width: 1px 1px 1px 0;
    padding: 15px 10px;
}

.listRecords li.docItem,
.iSearch .iSearchList li.docItem,
.docList .list li.docItem {
	background: url(../images/collections_icon.png) no-repeat scroll 14px 14px;
}


.listRecords li.bookmark {
	background: url(../images/icon_bookmark.png) no-repeat scroll 14px 14px;
}

.listRecords li.docItem.themes,
.iSearch .iSearchList li.docItem.themes,
.docList .list li.docItem.themes {
	background-image: url(../images/collections_icon.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 14px 14px;
	color:#909090;
}

.iSearch .iSearchList li.docItem.situation,
.docList .list li.docItem.situation, .listRecords li.docItem.situation {
	background-image: url(../images/icon_info.png);
	background-repeat: no-repeat; 
	background-position: 14px 14px;
	background-attachment: scroll;
}

.listRecords li.docItem.active,
.iSearch .iSearchList li.docItem.active,
.docList .list li.docItem.active {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -3px 3px;
	color:#909090;
}
.iSearch .iSearchList li.docItem.active {
	color:#000000;
}
.listRecords li.docItem.onControl,
.iSearch .iSearchList li.docItem.onControl,
.docList .list li.docItem.onControl {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -3px -10845px;
	color:#909090;
}
.listRecords li.docItem.onControlNew,
.iSearch .iSearchList li.docItem.onControlNew,
.docList .list li.docItem.onControlNew {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -3px -9970px;
	color:#909090;
}
.listRecords li.docItem.onControlInactive,
.iSearch .iSearchList li.docItem.onControlInactive,
.docList .list li.docItem.onControlInactive {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -3px -12595px;
	color:#909090;
}
.listRecords li.docItem.onControlNewInactive,
.iSearch .iSearchList li.docItem.onControlNewInactive,
.docList .list li.docItem.onControlNewInactive {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -3px -11720px;
	color:#909090;
}
.listRecords li.docItem.onControlProject,
.iSearch .iSearchList li.docItem.onControlProject,
.docList .list li.docItem.onControlProject {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -3px -14345px;
	color:#909090;
}
.listRecords li.docItem.onControlNewProject,
.iSearch .iSearchList li.docItem.onControlNewProject,
.docList .list li.docItem.onControlNewProject {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: -3px -13470px;
	color:#909090;
}
.listRecords li.docItem.project,
.iSearch .iSearchList li.docItem.project,
.docList .list li.docItem.project {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: -3px -1997px;
}
.listRecords li.docItem.technicalDocumentNew,
.iSearch .iSearchList li.docItem.technicalDocumentNew,
.docList .list li.docItem.technicalDocumentNew{
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: -3px -8043px;
}
.listRecords li.docItem.technicalDocument,
.iSearch .iSearchList li.docItem.technicalDocument,
.docList .list li.docItem.technicalDocument{
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: -3px -9095px;
}

/********************************/
.listRecords li.docItem.onControlCard_undefined,
.iSearch .iSearchList li.docItem.onControlCard_undefined,
.docList .list li.docItem.onControlCard_undefined {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: 1px -12988px;
}
.listRecords li.docItem.onControlCard_active,
.iSearch .iSearchList li.docItem.onControlCard_active,
.docList .list li.docItem.onControlCard_active {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: 1px -11244px;
}
.listRecords li.docItem.onControlCard_inactive,
.iSearch .iSearchList li.docItem.onControlCard_inactive,
.docList .list li.docItem.onControlCard_inactive {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: 1px -9462px;
}
.listRecords li.docItem.onControlNewCard_undefined,
.iSearch .iSearchList li.docItem.onControlNewCard_undefined,
.docList .list li.docItem.onControlNewCard_undefined {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: 1px -13849px;
}
.listRecords li.docItem.onControlNewCard_active,
.iSearch .iSearchList li.docItem.onControlNewCard_active,
.docList .list li.docItem.onControlNewCard_active {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: 1px -12098px;
}
.listRecords li.docItem.onControlNewCard_inactive,
.iSearch .iSearchList li.docItem.onControlNewCard_inactive,
.docList .list li.docItem.onControlNewCard_inactive {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: 1px -10380px;
}
/********************************/

/**/
.listRecords li.docItem.inactive,
.iSearch .iSearchList li.docItem.inactive,
.docList .list li.docItem.inactive {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: -3px -997px;
}

.listRecords li.docItem.card_active,
.iSearch .iSearchList li.docItem.card_active,
.docList .list li.docItem.card_active {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: -3px -2997px;
}

.listRecords li.docItem.card_inactive,
.iSearch .iSearchList li.docItem.card_inactive,
.docList .list li.docItem.card_inactive {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: -3px -3997px;
}

.listRecords li.docItem.card_undefined,
.iSearch .iSearchList li.docItem.card_undefined,
.docList .list li.docItem.card_undefined {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: -3px -4997px;
}

.listRecords li.docItem.book_undefined,
.iSearch .iSearchList li.docItem.book_undefined,
.docList .list li.docItem.book_undefined {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: -3px -6997px;
}

.listRecords li.docItem.book,
.iSearch .iSearchList li.docItem.book,
.docList .list li.docItem.book {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: -3px -5997px;
}

.listRecords li.docItem.internetNo,
.iSearch .iSearchList li.docItem.internetNo,
.docList .list li.docItem.internetNo {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: 1px -15244px;	
}

.listRecords li.docItem.protectedDoc,
.iSearch .iSearchList li.docItem.protectedDoc,
.docList .list li.docItem.protectedDoc {
	background-image: url(../images/list_documents.png);
	background-repeat: no-repeat;
	background-position: -3px -17144px;
}

.listRecords li.docItem.imp_news,
.iSearch .iSearchList li.docItem.imp_news,
.docList .list li.docItem.imp_news {
	background-image: url(../images/imp_news_icon.png);
	background-repeat: no-repeat;
}

.docList .list li.docItem.selected {
	background-color:#C2D5F5;
}

.iSearchList li.docItem.selected,
.listRecords li.selected{
	background-color:#C2D5F5;
}

.listRecords div.date {
	position:absolute;
	font-style: normal;
	right:10px;
	top:10px;
	color:#909090;
	font-size:14px;
} 
.list li.docItem em {
	color:#939393;
	font-size:12px;
}

.doSort{
	cursor: pointer;
	margin: 2px !important;
	float: right;
	height: 20px;
	width: 20px;
	background:transparent url('../images/icons/primitive/icon_p_sort.gif') no-repeat scroll 0px 0px;
}
.doSort:hover{
	background:transparent url('../images/icons/primitive/icon_p_sort_a.gif') no-repeat scroll 0px 0px;
}
.doSort.disabled{
	background:transparent url('../images/icons/primitive/icon_p_sort_d.gif') no-repeat scroll 0px 0px;
}
.doSort.disabled:hover{
	background:transparent url('../images/icons/primitive/icon_p_sort_d.gif') no-repeat scroll 0px 0px;
}
.doFilter:hover{
	background:transparent url('../images/icons/primitive/icon_p_filter_a.gif') no-repeat scroll center center;
}
.doFilter{
	cursor: pointer;
	margin: 2px !important;
	float: right;
	height: 20px;
	width: 20px;
	background:transparent url('../images/icons/primitive/icon_p_filter.gif') no-repeat scroll center center;
}
.iSearchInfo .doFilter{
	margin-right: 3px;
	margin-top:-1px;
	margin-bottom: 0px;
}
.doFilter.on{
	background-color:white;
	border-color:#DDDDDD;
	border-style:solid solid none;
	border-width:1px 1px 0;
	margin-bottom:-1px;
	margin-top:-1px;
	padding:0 4px 5px;
}
.searchInfo .title .tooltip{
	border:1px solid LightBlue;
	float:right;
	margin: 20px 20px 0px 0;
	padding: 0px;
	position: relative;
}
.searchInfo .title .realSize{
	border:0 none;
	margin-bottom:-200px;
	opacity:1;
	padding:10px 20px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	cursor: default;
	position:absolute;
	margin-left:10px;
	margin-top:-21px;
	-moz-box-shadow: 3px 3px 20px grey;
	-webkit-box-shadow: 3px 3px 20px grey;
	box-shadow: 3px 3px 20px grey ;
}
#workspace .searchInfo .realSize div.close{
	float: right;
	height: 17px;
	width: 17px;
	background: url('../images/closeTooltip.png') no-repeat scroll 0px 0px;
	margin: -18px -29px 0px 0px;
}
.searchInfo .title .tooltip p{
	padding: 3px 16px;
	font-size: 14px;
	font-weight: normal;	
	cursor: pointer;
	white-space:nowrap;
}
.searchInfo .title .tooltip p:hover{
	background: #004499;
	color: white;
}
.searchInfo .title .tooltip p.active{
	background: url('../images/icons/menu_check.gif') no-repeat scroll 0px 4px;
}
.searchInfo .title .tooltip p.active:hover{
	background: #004499 url('../images/icons/menu_check.gif') no-repeat scroll 0px 4px;
}




.docList li.docItem.iSearchItem,
.listRecords li.iSearchItem  {
	background-image: url(../images/list_queries.png);
	background-position: 10px 3px;
	background-repeat: no-repeat;
	padding-left: 53px;
}
.docList li.docItem.aSearchItem,
.listRecords li.aSearchItem {
	background-image: url(../images/list_queries.png);
	background-position: 10px -847px;
	background-repeat: no-repeat;
	padding-left: 53px;
}
.docList li.docItem.sSearchItem,
.listRecords li.sSearchItem {
	background-image: url(../images/list_queries.png);
	background-position:  10px -1700px;
	background-repeat: no-repeat;
	padding-left: 53px;
}

.link_DeleteFromList{		
	background: url(../images/trash.png) no-repeat 0px 0px;
	width: 16px;
	height:16px;
	position:absolute;
	right: 10px;
	top: 5px;
}
.list pre{
	margin: 0px;
}
.list pre{
	margin: 0px;
}
.docList .progress{
	border-left: 1px solid #DDDDDD ;
	border-right: 1px solid #DDDDDD ;
	background:transparent url(../images/ajaxLoader.gif) no-repeat scroll center center;
}
input.quickFilter{
	margin-left:-100px;
	opacity: 0;
	position: absolute;
	filter:alpha(opacity=0);
	width: 40px;
}
div.quickFilterVal{
	float: right;
	margin-bottom: -40px;
	margin-right: 50px;
	float: right;
	font-size: 16px;
	font-weight:bold;
	border: 0px;
	background: none;
	text-align: right;
	color: gray;
	opacity: 0.6;
}

.filterSortOptions {
	background-color: white;
	border-top: 1px solid #DDDDDD;
	padding: 2px 0px 0px 10px;
	font-size: 0.875em;
	display: none;
	font-size:14px;
	font-weight:bold;
}
.filterSortOptions div{
	margin: 3px 0px 0px 0px;
	float: left; 
}
.filterSortOptions div.clearFilter{
	float: right;
	padding: 3px 1px 0px 1px;
	margin: 0px 11px 0px 2px;
	font-size:12px;
	color: #0000AA;
	font-weight:normal;
	border-bottom: 1px dashed #0000AA;
	cursor: pointer;
}
.filterSortOptions table .col2{
	font-weight:normal;
	font-style:italic;
}
.filterSortOptions span {
	margin: 5px;
	font-weight: normal;
	font-style: italic;
}

.filterSortOptions .filterHead {
	margin-left: 10px;
	font-size: 0.8em;
	font-weight: normal;
}
.infoCntItem{
	border-top:1px solid #DDDDDD;
	display:none;
	margin-top:8px;
	padding:4px 6px;
	clear: both;
}
.searchInfo .hideInfoCntItem{
	float: right;
	display: none;
}
.searchInfo .txt{
	display: none;
}
#uHistoryContent div.iSearchInfo .info{
	float:left;
	font-weight:normal;
	padding-left:30px;
}
#uHistoryContent div.iSearchInfo .count{
	float: left;
	padding-left: 14px;
	padding-bottom: 4px;
}

div.searchInfo .title{
	padding:5px 0 0 0px;
}

div.searchInfo .info{
	float: left;
	padding-left:30px;
}

div.searchInfo .count{
	padding-left:10px;
	float: left;
}
div.searchInfo .count .loading{
	padding-right: 20px;
	background:transparent url(../images/spinner.gif) no-repeat scroll right center;
 
}
div.searchInfo .quest{
	background:transparent url(../images/quest.png) no-repeat scroll center center;
	height: 15px;
	padding-left: 15px;
	margin-left: 8px;
	margin-top: 2px;
	cursor: pointer;
	float: left;
}
